body {
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
}

p {
}

address {
  display: block;
  font-style: 700;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.right {
    text-align: right;
}
